<div class="cards-banner"></div>
<div class="page-wrapper">
  <div class="cards-header">
    <h2>Estos seguros encontramos para ti:</h2>
  </div>
  <div class="cards-wrapper">
    <div class="row">
      <%= render 'shared/contract-card' %>
      <%= render 'shared/contract-card' %>
      <%= render 'shared/contract-card' %>
      <%= render 'shared/contract-card' %>
    </div>
  </div>
</div>
