
<div class="row">
<%= form_for @auto do |f| %>
<div class="row">
  <!-- Marca -->
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Escoge una opción</option>
      <option value="Audi">Audi</option>
      <option value="BMW">BMW</option>
      <option value="Ford">Ford</option>
      <option value="Honda">Honda</option>
      <option value="Mitsubishi">Mitsubishi</option>
      <option value="Nissan">Nissan</option>
      <option value="Mercedez Benz">Mercedez Benz</option>
      <option value="Hyundai">Hyundai</option>
      <option value="Kia">Kia</option>
      <option value="Mazda">Mazda</option>
      <option value="Volkswagen">Volkswagen</option>
      <option value="Toyota">Toyota</option>
    </select>
    <label>Cual es la marca de tu carro?</label>
  </div>
  <!-- Año -->
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Escoge una opción</option>
      <% (2006..2018).each do |year| %>
      <option value="<%= year %>"><%= year %></option>
      <% end %>
    </select>
    <label>Cual es el año de fabricación?</label>
  </div>
  <!-- Año -->
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Escoge una opción</option>
      <option value="Sedan-Coupe">Sedan/Coupe</option>
      <option value="Pickup">Pickup</option>
      <option value="Camioneta">Camioneta</option>
      <option value="Minivan">Minivan</option>
      <option value="Camión">Camión</option>
    </select>
    <label>Que tipo de vehículo?</label>
  </div>
  <!-- Valor -->
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Escoge una opción</option>
      <option value="1,000-5,000">$1,000-5,000</option>
      <option value="5,000-10,000">$5,000-10,000</option>
      <option value="10,000-20,000">$10,000-20,000</option>
      <option value="20,000-30,000">$20,000-30,000</option>
      <option value="30,000-40,000">$30,000-40,000</option>
      <option value="40,000-50,000">$40,000-50,000</option>
      <option value="50,000+">$50,000+</option>
    </select>
    <label>Cual es el valor de tu vehículo?</label>
  </div>
  <br>
  <!-- Agencia -->
  <br>
  <div class="col s12">
    <p>
      <input type="checkbox" class="checkbox-primary" id="filled-in-box" checked="checked" />
      <label for="filled-in-box">Mi vehículo lo compre en una agencia</label>
    </p>
  </div>
  <div class="col s12 center-align">
    <button class="btn waves-light btn-brand-primary margin-top-50" type="submit" name="action">Cotizar
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
<% end %>
</div>
