<%= simple_form_for @auto, html: {"cf-form": true, id: "cf-form"} do %>

      <!-- autoBrand -->
      <fieldset>
        <label for="autoBrand">Que marca es tu veh칤culo?</label>
        <select cf-questions="Bienvenido! Para darte las mejores cuotas, necesito saber m치s sobre tu auto 游땕&& Escoge la marca de tu vehiculo:" name="autoBrand" id="autoBrand" class="form-control">
          <option></option>
          <option>Audi</option>
          <option>BMW</option>
          <option>Ford</option>
          <option>Honda</option>
          <option>Hyundai</option>
          <option>Kia</option>
          <option>Mazda</option>
          <option>Mercedes</option>
          <option>Mitsubishi</option>
          <option>Nissan</option>
          <option>Toyota</option>
          <option>Volkswagen</option>
        </select>
      </fieldset>
      <!-- autoModel -->
      <fieldset>
        <label for="autoModel">Modelo</label>
        <input required cf-questions="Cual es el a침o de fabricaci칩n de tu carro {previous-answer}?" type="number" class="form-control" name="autoModel" id="autoModel">
      </fieldset>
      <!-- autoType -->
      <fieldset>
        <label for="autoType">Que tipo de vehiculo es el tuyo?</label>
        <select cf-questions="Escoge un tipo de veh칤culo:" name="autoType" id="autoType" class="form-control">
          <option></option>
          <option>Sedan/Coupe</option>
          <option>Pickup</option>
          <option>Camioneta</option>
          <option>Minivan</option>
          <option>Cami칩n</option>
        </select>
      </fieldset>
      <!-- autoNew -->
      <fieldset>
        <label for="autoNew">Es nuevo el vehiculo?</label>
        <select cf-questions="Tu veh칤culo lo compraste en una agenc칤a?" name="autoNew" id="autoNew" class="form-control">
          <option></option>
          <option>S칤</option>
          <option>No</option>
        </select>
      </fieldset>
      <!-- autoValue -->
      <fieldset>
      <label for="autoValue">Valor</label>
        <input required cf-questions="Muchas gracias por toda esta informac칤on! Ultima pregunta: && Cual es el valor de tu veh칤culo?" type="number" class="form-control" name="autoValue" id="autoValue">
      </fieldset>

      <button type="submit" class="btn btn-default">Submit</button>
    <% end %>
