<div id="health-contract-modal<%= health_contract.id %>" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h3><%= classification %> Cobertura</h3>
    <br>
    <p>La cobertura de este seguro es la siguiente:</p>

  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close btn waves-light btn-brand-primary" type="submit" name="action">Aplicar</button>
  </div>
</div>
