<% content_for :head_zoom do %>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>Seguro de salud</title>
<style type="text/css"> html{ margin: 0; height: 100%; overflow: hidden; } iframe{ position: absolute; left:0; right:0; bottom:0; top:0; border:0; }
</style>
<% end %>
<iframe id="typeform-full" width="100%" height="100%" frameborder="0" src="https://zegurito.typeform.com/to/xP6Twy"></iframe>
<script type="text/javascript" src="https://embed.typeform.com/embed.js">
</script>

<!-- <div class="page-wrapper">
  <div class="form-banner"></div>
  <div class="form-wrapper">
    <%= render 'shared/healthform' %>
  </div>
</div> -->

