<% content_for :head_zoom do %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
<% end %>

<div class="page-wrapper">
  <div class="form-banner"></div>
  <div class="form-wrapper">
    <%= render 'shared/healthform' %>
  </div>
</div>

