<div class="about-page-wrapper">
  <h1>Quienes Somos</h1>
  <p>Toño es un mercado de seguros en linea. En la plataforma, un usuario puede especificar que tipo de seguro esta buscando (e.g. seguro de vehículo, vida, casa, etc.) llenando un formulario de preguntas. Al completarlo, el usuario puede explorar diferentes ofertas por diversos proveedores de seguros. Nuestro equipo se asocia con los mejores proveedores para ofrecer a nuestros usuarios los mejores productos en el mercado. Dentro de la plataforma de Toño, el usuario podrá comparar y escoger seguros desde su computadora o smartphone. Toño pretende operar en la región latinoamericana.</p>
</div>
