<div class="about-page-wrapper">
  <h1>Quienes Somos</h1>
  <p>Zegurito es un mercado de seguros en linea. En nuestra plataforma, un usuario puede especificar que tipo de seguro esta buscando (e.g. seguro de salud, vida, hogar) llenando un formulario de preguntas. Nuestro equipo se asocia con los mejores proveedores para ofrecer a nuestros usuarios la mejor selección de productos. Zegurito personaliza cada solicitud para ofrecer las mejores opciones de acuerdo a las necesidades específicas del usuario. Dentro de la plataforma de Zegurito, el usuario podrá comparar y escoger seguros desde su computadora o smartphone.</p>
</div>
