<div class="homepage-wrapper background-brand-color">
  <div class="homepage-content">
    <h1>Escoge seguros en minutos</h1>
    <h4>Don Toño, nuestro experto, te ayudará en el proceso</h4>
    <br><br>

    <!-- Button for car insurance -->
    <%= link_to new_auto_path, class: "waves-effect btn-large btn-brand-secondary" do %>
      <div class="icon-btn-wrapper">
        <i class="large material-icons two-rem-icon">directions_car</i>
        <span>&nbsp&nbspSeguro de auto&nbsp&nbsp&nbsp&nbsp</span>
      </div>
    <% end %>
    <br><br>
    <!-- Button for Home insurance -->
    <%= link_to "#", class: "waves-effect btn-large btn-brand-secondary" do %>
      <div class="icon-btn-wrapper">
        <i class="large material-icons two-rem-icon">home</i>
        <span>&nbsp&nbspSeguro de hogar</span>
      </div>
    <% end %>
    <br>
    <br>
    <br>
  </div>
  <%= image_tag("tonohomepage.png", height: '200', id: "tono-banner"); %>
</div>
