<div class="homepage-wrapper background-brand-color" style="background-image: url('<%= image_url('bg-zegurito.jpg') %>'); background-position: center;">

  <div class="homepage-content">
    <h1 class="primary-color-text">Escoge seguros en minutos</h1>
    <h4 class="primary-color-text">Don Toño, nuestro experto, te ayudará en el proceso</h4>
    <br><br>

 <!--     Button for car insurance
    <%= link_to new_auto_path, class: "waves-effect btn-large btn-brand-secondary" do %>
      <div class="icon-btn-wrapper">
        <i class="large material-icons two-rem-icon">directions_car</i>
        <span>&nbsp&nbspSeguro de automovil&nbsp&nbsp</span>
      </div>
    <% end %>
    <br><br> -->
    <!-- Button for Home insurance -->
    <%= link_to new_accident_contract_path, class: "waves-effect btn-large btn-brand-secondary" do %>
      <div class="icon-btn-wrapper">
        <i class="large material-icons two-rem-icon">local_hospital</i>
        <span>&nbsp&nbspSeguro de salud&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
      </div>
    <% end %>
    <br>
    <br>
    <%= link_to new_accident_contract_path, class: "waves-effect btn-large btn-brand-secondary" do %>
      <div class="icon-btn-wrapper">
        <i class="large material-icons two-rem-icon">report</i>
        <span>&nbsp&nbspSeguro de accidentes</span>
      </div>
    <% end %>
    <br>
    <br>
    <br>
  </div>

</div>
