<% content_for :head_zoom do %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
<% end %>
<!-- <script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.6/conversational-form.min.js" crossorigin></script> -->

<div class="page-wrapper">
<div class="form-banner"></div>
  <div class="form-wrapper">
    <%= render 'shared/autoform' %>
  </div>
</div>


