<% content_for :head_zoom do %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
<% end %>
<!-- <script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.6/conversational-form.min.js" crossorigin></script> -->

<div class="form-main-wrapper">
  <div class="form-content-wrapper">
    <div class="form-title-wrapper">
      <h3>Seguro de auto</h3>
    </div>
    <div cf-context class="auto-form">
      <%= render 'shared/autoform' %>
    </div>
  </div>


  <div class="form-info-wrapper">
    <h3>Con gusto te ayudo a encontrar el mejor seguro para tu auto!</h3>
    <%= image_tag("tono-form-new.png", height: '300'); %>
  </div>
</div>


