<% content_for :head_zoom do %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
<% end %>
<script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.6/conversational-form.min.js" crossorigin></script>

<div class="form-main-wrapper">
  <div cf-context class="form-content-wrapper cf-context">
    <form cf-form id="cf-form" method="post" action="/autos">

    <%= simple_form_for @auto, html: {"cf-form": true, id: "cf-form"} do %>

      <!-- firstName -->
      <fieldset>
        <label for="firstName">Cu치l es tu primer nombre?</label>
        <input required cf-questions="Para darte las mejores cuotas, necesito saber m치s sobre ti 游땕&& Cual es tu primer nombre?" type="text" class="form-control" name="firstName" id="firstName">
      </fieldset>
      <!-- lastName -->
      <fieldset>
        <label for="lastName">Apellido</label>
        <input required cf-questions="Mucho gusto, {previous-answer}! Cu치l es tu apellido?" type="text" class="form-control" name="lastName" id="lastName">
      </fieldset>
      <!-- email -->
      <fieldset>
        <label for="email">email</label>
        <input required pattern=".+\@.+\..+" cf-error="Por favor escribe un e-mail v치lido" cf-questions="Muy bien, ahora escribe to e-mail:" type="email" class="form-control" name="email" id="email">
      </fieldset>
      <!-- autoBrand -->
      <fieldset>
        <label for="autoBrand">Que marca es tu veh칤culo??</label>
        <select cf-questions="Gracias! Ahora dinos un poco de tu veh칤culo. Escoge una marca:" name="autoBrand" id="autoBrand" class="form-control">
          <option></option>
          <option>Audi</option>
          <option>BMW</option>
          <option>Ford</option>
          <option>Honda</option>
          <option>Hyundai</option>
          <option>Kia</option>
          <option>Mazda</option>
          <option>Mercedes</option>
          <option>Mitsubishi</option>
          <option>Nissan</option>
          <option>Toyota</option>
          <option>Volkswagen</option>
        </select>
      </fieldset>
      <!-- autoModel -->
      <fieldset>
        <label for="autoModel">Modelo</label>
        <input required cf-questions="Que modelo de {previous-answer} es tu veh칤culo?" type="text" class="form-control" name="autoModel" id="autoModel">
      </fieldset>
      <!-- autoFeatures -->
<!--       <fieldset cf-questions="Tu vehiculo es:">
        <label for="blindado">Nuevo</label>
        <input  required type="checkbox" name="nuevo" id="nuevo" value="Nuevo">
      </fieldset> -->
      <!-- ownerDUI -->
      <fieldset>
        <label for="ownerDUI">ownerDUI</label>
        <input required cf-questions="{firstName}, cual es tu n칰mero de DUI?" type="text" class="form-control" name="ownerDUI" id="ownerDUI">
      </fieldset>
      <!-- ownerDOB -->
      <fieldset>
        <label for="ownerDOB">ownerDOB</label>
        <input required cf-questions="Cual es tu fecha de nacimiento?" type="text" class="form-control" name="ownerDOB" id="ownerDOB">
      </fieldset>
      <!-- ownerPhone -->
      <fieldset>
        <label for="ownerPhone">ownerPhone</label>
        <input required cf-questions="칔ltima pregunta!&&Cual es tu n칰mero de telefono?" type="text" class="form-control" name="ownerPhone" id="ownerPhone">
      </fieldset>

      <button type="submit" class="btn btn-default">Submit</button>
    <% end %>
    <!-- </form> -->
  </div>


  <div class="form-info-wrapper">
    <h3>Seguro de Autos</h3>
  </div>
</div>



<!--  Falta incluir:
      autoFeatures***
      ownerType***
      autoCity***
      ownerNIT***
      ownerGender***
      ownerOccupation***
      ownerPhone -->
