.btn-brand-primary {
  background-color: $brand-color;
  color: $secondary-color;
  vertical-align: middle;
}

.btn-brand-secondary {
  background-color: $secondary-color;
  color: $gray !important;
  vertical-align: middle;
}

.margin-top-50 {
  margin-top: 50px;
}
