.btn-brand-primary {
  background-color: $brand-color;
  color: $secondary-color;
  vertical-align: middle;
}

.btn-brand-secondary {
  background-color: $secondary-color;
  color: #616465 !important;
  vertical-align: middle;
}
