.btn-brand-white {
  background-color: white;
  color: $brand-color;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 2px;
}

.btn-brand-red {
  background-color: $red;
  color: $white;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 2px;
}
