/* label color */
.input-field label {
  color: $brand-primary !important;
  font-size: 1.8rem;
  margin-bottom: 2px;

}

.input-field input[type=text] {
  font-size: 1.7rem;
  margin: 5px 0 25px 0;
  padding-bottom: 10px;;
  &:active, &:focus {
    border-bottom: 1px solid $brand-primary !important;
  }
}
.caret {
  border-color: transparent !important;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: $gray;
}
.select-wrapper input.select-dropdown {
  font-size: 1.4rem;
  margin: 15px 0 20px 0;
}

.input-field label {
pointer-events: auto;
}

.checkbox-brand-color[type="checkbox"].filled-in:checked + label:after {
     border: 2px solid $primary-color;
     background-color: $primary-color;
}
