/* label color */
.input-field label {
  color: $brand-primary;
  font-size: 1.8rem;
  margin-bottom: 2px;
}
.caret {
  border-color: transparent !important;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: $gray;
}
.select-wrapper input.select-dropdown {
  font-size: 1.4rem;
  margin: 15px 0 20px 0;
}
