// inherited
.about-page-wrapper {
 width: 40%;
 min-width: 300px;
 height: 100%;
 min-height: 100vh;
 padding-top: 40px;
 margin: 0 auto;
 color: $black;
 h1 {
  text-align: center;
  font-weight: bold;
}
p {
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  margin-top: 50px;
}
}

// new styling
.page-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.primary-color-text {
  color: $primary-color !important;
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // color: $primary-color;
  background-size: cover !important;
  .homepage-content {
    width: 100vw;
    padding: 0 20px;
    text-align: center;
  }
  .btn-large {
    color: #fff;
  }
}

.background-brand-color {
  background-color: $brand-color;
}

.icon-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.form-wrapper {
  width: 100vw;
  max-width: 500px;
  padding: 40px 50px;
  background-color: white;
  box-shadow: 0px 5px 20px 0px rgba(183, 183, 183, 0.18);
}

.cards-wrapper {
  width: 100vw;
  max-width: 600px;
  padding: 40px 50px;
  background-color: white;
  // box-shadow: 0px 5px 20px 0px rgba(183, 183, 183, 0.18);
}

.invisible-wrapper {
  height: 30vh;
}
